@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Praca Inżynierska - Aplikacja mobilna Interaktywna pomoc szkolna</h1></center>
    <center><p>Politechnika Poznańska</center>
    <center><p>Autor: Kacper Pokorniecki</p></center>
    <center>Promotor: dr inż. Krzysztof Bucholc</center>
    <center>Poznań 2018</center>
</div>